[submodule "deps/cimgui"]
	path = deps/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "deps/dawn"]
	path = deps/dawn
	url = https://github.com/google/dawn.git
[submodule "deps/sdl3webgpu"]
	path = deps/sdl3webgpu
	url = https://github.com/eliemichel/sdl3webgpu.git
[submodule "deps/skribidi"]
	path = deps/skribidi
	url = https://github.com/memononen/skribidi.git
[submodule "deps/sokol"]
	path = deps/sokol
	url = https://github.com/floooh/sokol.git
[submodule "deps/ubench"]
	path = deps/ubench
	url = https://github.com/sheredom/ubench.h.git
[submodule "deps/utest"]
	path = deps/utest
	url = https://github.com/sheredom/utest.h.git
[submodule "deps/cJSON"]
	path = deps/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl.git
[submodule "deps/libwebsockets"]
	path = deps/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "deps/mtcc"]
	path = deps/mtcc
	url = https://github.com/moreward/mtcc.git
[submodule "deps/physfs"]
	path = deps/physfs
	url = https://github.com/moreward/physfs.git
[submodule "deps/reproc"]
	path = deps/reproc
	url = https://github.com/daandemeyer/reproc.git
[submodule "deps/tinycsocket"]
	path = deps/tinycsocket
	url = https://github.com/dosshell/tinycsocket.git
[submodule "deps/utf8proc"]
	path = deps/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
[submodule "deps/zstd"]
	path = deps/zstd
	url = https://github.com/facebook/zstd.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "deps/sdl3"]
	path = deps/sdl3
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/raudio"]
	path = deps/raudio
	url = https://github.com/raysan5/raudio.git
[submodule "deps/sokol_gp"]
	path = deps/sokol_gp
	url = https://github.com/edubart/sokol_gp.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/freetype/freetype.git
[submodule "deps/harfbuzz"]
	path = deps/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/minigamepad"]
	path = deps/minigamepad
	url = https://github.com/ColleagueRiley/minigamepad.git
[submodule "deps/miniaudio"]
	path = deps/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm.git
[submodule "deps/box3d"]
	path = deps/box3d
	url = https://github.com/erincatto/box3d.git
[submodule "deps/tracy"]
	path = deps/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "deps/cgltf"]
	path = deps/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "deps/nanovg"]
	path = deps/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "deps/enet"]
	path = deps/enet
	url = https://github.com/zpl-c/enet.git
[submodule "deps/microui"]
	path = deps/microui
	url = https://github.com/rxi/microui.git
[submodule "deps/xxhash"]
	path = deps/xxhash
	url = https://github.com/cyan4973/xxhash.git
[submodule "deps/lz4"]
	path = deps/lz4
	url = https://github.com/lz4/lz4.git
[submodule "deps/FastNoiseLite"]
	path = deps/FastNoiseLite
	url = https://github.com/Auburn/FastNoiseLite.git
[submodule "deps/flecs"]
	path = deps/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "deps/boringssl"]
	path = deps/boringssl
	url = https://github.com/google/boringssl.git
[submodule "deps/SheenBidi"]
	path = deps/SheenBidi
	url = https://github.com/Tehreer/SheenBidi.git
[submodule "deps/libunibreak"]
	path = deps/libunibreak
	url = https://github.com/adah1972/libunibreak.git
[submodule "deps/budouxc"]
	path = deps/budouxc
	url = https://github.com/memononen/budouxc.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/lua-5.5.0"]
	path = deps/lua-5.5.0
	url = https://github.com/moreward/lua55.git
[submodule "deps/dawn_third_party"]
	path = deps/dawn_third_party
	url = https://github.com/moreward/dawn-third-party.git
[submodule "deps/sqlite-amalgamation"]
	path = deps/sqlite-amalgamation
	url = https://github.com/moreward/sqlite-amalgamation.git
[submodule "deps/pcre2"]
	path = deps/pcre2
	url = https://github.com/PCRE2Project/pcre2
[submodule "deps/tinycthread"]
	path = deps/tinycthread
	url = https://github.com/tinycthread/tinycthread
[submodule "deps/ggml"]
	path = deps/ggml
	url = https://github.com/ggml-org/ggml.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv
[submodule "deps/luv"]
	path = deps/luv
	url = https://github.com/luvit/luv
[submodule "deps/libyaml"]
	path = deps/libyaml
	url = https://github.com/yaml/libyaml
[submodule "deps/md4c"]
	path = deps/md4c
	url = https://github.com/mity/md4c
[submodule "deps/tomlc99"]
	path = deps/tomlc99
	url = https://github.com/cktan/tomlc99
[submodule "deps/vma"]
	path = deps/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "deps/meshoptimizer"]
	path = deps/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "deps/volk"]
	path = deps/volk
	url = https://github.com/zeux/volk.git
[submodule "deps/libpng"]
	path = deps/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "deps/libjpeg-turbo"]
	path = deps/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "deps/openal-soft"]
	path = deps/openal-soft
	url = https://github.com/kcat/openal-soft.git
